<div class="container">
<p style="text-align: center;font-size: 25px">
  Signup
</p>
 
<div class="form-group">
<form #signup="ngForm">

  <div class="form-group">
    <ion-label>
      Name
    </ion-label>
    
    <ion-input class="form-control" name="name" placeholder="Enter name" [(ngModel)]="userobj.name" required #name="ngModel"></ion-input>
    
     
  
  </div>
  <div *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors.required" style="color:red; font-size:14px">
        * Name is required.
      </div>  
      
    </div> 

  




  <div class="form-group">
    
    <ion-label>
      Email
    </ion-label>
    
    <ion-input class="form-control" placeholder="Enter email" [(ngModel)]="userobj.email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" name="email"></ion-input>
    
   
 
  </div>
  <div *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required" style="color:red; font-size:14px">
        * Email is required.
      </div>  
      <p *ngIf="email.errors.pattern" style="color:red;font-size: 14px">Please enter a valid Email</p>
    </div> 









    
    
    
  <div class="form-group">
    
    <ion-label>
      Password
    </ion-label>
    
    <ion-input class="form-control" type="Password" name="password" placeholder="Enter password" [(ngModel)]="userobj.password" #password="ngModel" required pattern="((^)(^(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$|^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[#?!@$%^&*-]).{6,}$|^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{6,}$|^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$))+$"></ion-input>
    
    
  
  </div>

  <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.required" style="color:red; font-size:14px">
         * Password is required.
      </div>  
      <p *ngIf="password.errors.pattern" style="color:red; font-size:14px">Please enter a valid Password</p>
    </div> 

    
    
    
  <div>
    <ion-button name="signupbtn" color="primary" [disabled]= "signup.invalid" (click)="sendsignup()">Signup</ion-button>
  </div>


</form>
</div>

<p>{{msg}}</p>

</div>
      


