<div style="width:100%;background-color: blue; padding:10px">
  <div style="width:15%; float:left">
  <ion-img [src]="imgurl[0]" style="width: 100%"></ion-img>
    </div>
    <div style="float:right;width:25%"><ion-button color="light" fill="clear" size="small" (click)="loginform()" >Login</ion-button></div>
    <div style="float:right; width:25%"><ion-button color="light" fill="clear" size="small" (click)="signupform()">SignUp</ion-button></div>
</div>

<div style="height: 100%;width:100%;background-color: white">
  <router-outlet></router-outlet>
</div>